<?xml version="1.0"?>
<launch>
    <include file='$(find sweep_bot)/launch/cleaner.launch'/>

    <node name='rviz' type='rviz' pkg='rviz'/>

    <include file='$(find gazebo_ros)/launch/empty_world.launch'>
        <!-- <arg name="world_name" value='$(find sweep_bot)/worlds/simple_city.world'/> -->
        <arg name="world_name" value='$(find sweep_bot)/worlds/example.world'/>
        <!-- <arg name="world_name" value='$(find turtlebot3_gazebo)/worlds/turtlebot3_house.world'/> -->
    </include>

    <node name='gmapping' pkg='gmapping' type='slam_gmapping'>
        <!-- <param name="base_frame" value="$(arg base_frame)"/> -->
        <param name="base_frame" value="chasis"/>
    </node>
</launch>